<!DOCTYPE html>
<html>
<head>
    <title>Clínica - Sistema de Gestión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Clínica - Sistema de Gestión</h1>
</header>

<nav>
    <a href="/">Inicio</a>
    <a href="/medicamentos">Medicamentos</a>
    <a href="/agregar">Agregar Medicamento</a>
    <a href="/ver_datos">Ver Datos</a>
    <a href="/usuarios_mysql">Usuarios MySQL</a>
    <a href="/about">Sobre Nosotros</a>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    2026 Clínica
</footer>

</body>
</html>