{% extends "base.html" %}

{% block content %}

<h2>Datos Guardados</h2>

<a href="/exportar/json">Descargar JSON</a> |
<a href="/exportar/csv">Descargar CSV</a>

<br><br>

<table border="1">
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Proveedor</th>
</tr>

{% for d in datos %}
<tr>
    <td>{{ d.id }}</td>
    <td>{{ d.nombre }}</td>
    <td>{{ d.cantidad }}</td>
    <td>{{ d.precio }}</td>
    <td>{{ d.proveedor }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}